body{
	margin: 0 auto;
	background-color: #11051C;
	font-family: "Montserrat", sans-serif;
}

#sidebar{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	width: 25%;
	height: calc(100% - 10px);
	padding: 5px 0;
	position: absolute;
	left: 0;
	background-color: rgba(122,53,48,.7);
}

#search{
	display: -webkit-flex;
	display: flex;
	font-size: 16px;
	/*-webkit-justify-content: center;
	justify-content: center;*/
	padding: 10px;
	margin: 10px 5px;
	border: solid white 2px;
	border-radius: 25px;
	text-align: center;
	min-width: 150px;
	max-height: 50px;
	color: white;
	background: transparent;
}

#searchbar {
	background: transparent;
	color: white;
	border: none;
} 
input,
::-webkit-input-placeholder {
	font-family: "Montserrat", sans-serif;
   	color: white;
   	font-size: 15px;
   	line-height: 1.25;
}

input:focus {outline: none; }

#search>i{
	margin: auto;
}

#render{
	height: 100%;
	width: 75%;
	position: absolute;
	right: 0;
}