body{
	margin: 0 auto;
	background-color: #11051C;
	font-family: "Montserrat", sans-serif;
}

#sidebar{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	width: 25%;
	height: calc(100% - 10px);
	padding: 5px 0;
	position: absolute;
	left: 0;
	background-color: rgba(122,53,48,1);
	opacity: .3;

}

.active {
	background-color: rgba(122,53,48,.3)!important;
	opacity: 1!important;
}

#search{
	display: -webkit-flex;
	display: flex;
	font-size: 16px;
	/*-webkit-justify-content: center;
	justify-content: center;*/
	padding: 10px;
	margin: 10px 5px;
	border: solid white 2px;
	border-radius: 25px;
	text-align: center;
	width: calc(80% - 34px);
	max-height: 50px;
	color: white;
	background: transparent;
}

#searchbar {
	background: transparent;
	color: white;
	border: none;
	width: 100%;
} 
input,
::-webkit-input-placeholder {
	font-family: "Montserrat", sans-serif;
   	color: white;
   	font-size: 15px;
   	line-height: 1.25;
}

input:focus {outline: none; }

#search>i{
	margin: auto 0;
}

#render{
	height: 90%;
	width: 75%;
	position: absolute;
	right: 0;
}

canvas {
    position: absolute;
}

h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40pt;
}
span {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}
p{
	color: white;
}

#imgWrapper{
	max-width: calc(100% - 34px);
}

#imgWrapper>img{
	width: 100%;
}